<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<title>Juxta Orphaned Annotations Export</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<style type="text/css" media="all">

body {
	color: #000;
	background: #8B6969;
	padding: 15px;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	line-height: 1.4em;
	font-size: 90%;
	}

.inset {
	background: #fff;
	padding: 15px;
	}

a {
	color: #B22222;
	text-decoration: none;
	}

a:hover {
	color: #8C1717;
	text-decoration: underline;
	}

h1 {
	text-align: center;
	padding-bottom: 1em;
	font-family: Trebuchet MS;
	}
h2 {
	padding-top: .6em;
	font-family: Trebuchet MS;
	}

sup {
	padding-left: .4em;
	}
.number {
	color: #8B6969;
	font-weight: bold;
	font-size: 1.2em;
	}
ul {
	list-style-type: none;
	margin-top: .4em;
	}

</style>

<style type="text/css" media="print">
body {
	background: #fff;
	font-family: Times New Roman, Times, Georgia, serif;
	line-height: 1.4em;
	font-size: 100%;
	}

.inset {
	padding: 30px;
	}
h3 {
	color: #000;
	}
a {
	color: #000;
	}
#contents {
	_display: none; /* This is a hack for pretty print output on IE for the PC.  Remove this line to make your CSS validate. */
	}

</style>
</head>

<body>

<div class="inset">

<h1>Juxta Orphaned Annotation Recovery</h1>

<p>Because of changes to Juxta in the new version, we are unable to track which differences are associated with which notes when upgrading to Juxta 1.4.0 or later. Using this report, you can recover notes entered in an earlier version of Juxta. You may then re-associate them with the differences they refer to.</p>


<div id="notes">
	<h2>Annotations</h2>
#foreach ($annotation in ${data.annotations})
	<p>$annotation</p>
#end
</div>

<div id="juxta">
<p>This file was generated by <a href="http://www.juxtasoftware.org">Juxta</a>.</p>
</div>

</body>
</html>
