<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

#macro( xenc $sometext )
	${formatter.escapeEntities($sometext)}
#end

<head>
<title>${critical.title}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<style type="text/css" media="all">

body {
	color: #000;
	background: #8B6969;
	padding: 15px;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	line-height: 1.4em;
	font-size: 90%;
	}

.inset {
	background: #fff;
	padding: 15px;
	}

#critical {
	line-height: 1.8em;
	}

a {
	color: #B22222;
	text-decoration: none;
	}

a:hover {
	color: #8C1717;
	text-decoration: underline;
	}

h1 {
	text-align: center;
	padding-bottom: 1em;
	font-family: Trebuchet MS;
	}
h2 {
	padding-top: .6em;
	font-family: Trebuchet MS;
	}
h3 {
	color: #8B6969;
	margin-bottom: 0;
	padding-left: 1.4em;
	font-family: Trebuchet MS;
	}

#contents {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	border-top: 1px solid #999;
	z-index: 1;
	}

#contents ol {
	list-style-type: none;
	text-align: center;
	margin-top: -8px;
	padding: 0;
	position: relative;
	z-index: 2;
	}

#contents li {
	display: inline;
	text-align: center;
	margin: 0 5px;
	}

#contents li a	{
	padding: 1px 7px;
	color: #666;
	background-color: #fff;
	border: 1px solid #ccc;
	text-decoration: none;
	}

#contents li a:hover	{
	color: #000;
	border: 1px solid #666;
	border-top: 2px solid #666;
	border-bottom: 2px solid #666;
	}

sup {
	padding-left: .4em;
	}
.number {
	color: #8B6969;
	font-weight: bold;
	font-size: 1.2em;
	}
ul {
	list-style-type: none;
	margin-top: .4em;
	}
.mark {
	color: #000000;
	font-weight: bold;
	font-size: 1.2em;
	}


</style>

<style type="text/css" media="print">
body {
	background: #fff;
	font-family: Times New Roman, Times, Georgia, serif;
	line-height: 1.4em;
	font-size: 100%;
	}

.inset {
	padding: 30px;
	}
h3 {
	color: #000;
	}
a {
	color: #000;
	}
#critical a {
	font-weight: bold;
	font-size: 80%;
	}
.number {
	color: #000;
	}
#contents {
	_display: none; /* This is a hack for pretty print output on IE for the PC.  Remove this line to make your CSS validate. */
	}

</style>
</head>

<body>

<div class="inset">

<h1>#xenc(${critical.title})</h1>

<div id="contents">
	<ol>
		<li><a href="#juxta">About</a></li>
		<li><a href="#biblio">Bibliography</a></li>
		<li><a href="#critical">Critical Apparatus</a></li>
		#if( $critical.hasNotes ) 
			<li><a href="#notes">Notes</a></li>
		#end
	</ol>
</div>

<div id="juxta">
	<h2>About this Collation</h2>
<p>This collation was generated by <a href="http://www.juxtasoftware.org">Juxta</a>.</p>

</div>

<div id="biblio">
	<h2>Bibliography</h2>
	<div class="biblio-entry">
		<h3>#if($critical.baseisfrag) Fragment (#xenc(${critical.basedoc.fragmentStartMarker}) to #xenc(${critical.basedoc.fragmentEndMarker})) of: #end #xenc(${critical.base.title}) (Base Text)</h3>
		<ul>
			<li>Author: #xenc(${critical.base.author})</li>
			<li>Editor: #xenc(${critical.base.editor})</li>
			<li>Source: #xenc(${critical.base.source})</li>
			<li>Date: #xenc(${critical.base.date})</li>
		</ul>
		<p>#xenc(${critical.base.notes})</p>
	</div>
	#foreach ($witness in ${critical.witnesses})
		<div id="${formatter.bibtag($witness.ID)}" class="biblio-entry" >
		<h3>#if(${witness.fragment}) Fragment (#xenc(${witness.fragmentStartMarker}) to #xenc(${witness.fragmentEndMarker})) of: #end #xenc(${witness.biblioData.title}) (#xenc(${witness.biblioData.shortTitle}))</h3>
		<ul>
			<li>Author: #xenc(${witness.biblioData.author})</li>
			<li>Editor: #xenc(${witness.biblioData.editor})</li>
			<li>Source: #xenc(${witness.biblioData.source})</li>
			<li>Date: #xenc(${witness.biblioData.date})</li>
		</ul>
		<p>#xenc(${witness.biblioData.notes})</p>
	</div>
	#end
</div>

<div id="critical">
	<h2>Critical Apparatus</h2>
		#foreach ($lemma in ${critical.lemmas})
		<div class="lemma"><span class="number">#xenc(${lemma.locationMarker})</span> #xenc(${lemma.lemmaText})#xenc(${formatter.siglaList($lemma)})</div>
#end
</div>

#if( $critical.hasNotes ) 
<div id="notes">
	<h2>Notes</h2>
			#foreach ($annotation in ${critical.annotations})
#xenc(${formatter.annotation($annotation)})
#end
</div>
#end
</body>

</body>
</html>
